body {
    background-color: black;
}

#pagewrapper {
    display: flex;
    flex-flow: column nowrap;
    margin: 5%;
    text-align: center;
    background-color: gray;
}

#asciimenuart {
    margin-top: 3%;
    font-family: monospace;
    white-space: pre;
    font-size: 5.6px;
}

#title1,
#title2 {
    font-family: monospace;
    white-space: pre;
    font-size: 12px;
    color: #880808;
}

.textbox {
    display: flex;
    text-align: left;
    justify-content: center;
    overflow-y: scroll;
    background-color: white;
    width: 80%;
    height: 50vh;
}
.textboxWrapper {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.hidden {
    display: none;
}



.asciiIntro {
    white-space: pre;
    font-family: monospace;
    font-size: 14px;
}


@media only screen and (max-width:1640px) {
    #title1,
    #title2 {
        font-family: monospace;
        white-space: pre;
        font-size:10px;
    }

}