@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    background-color: rgb(165, 148, 137);
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

#pagewrapper {
    display: flex;
    flex-flow: column nowrap;
    margin: 1%;
    text-align: center;
}

#asciimenuart {
    margin-top: 3%;
    font-family: monospace;
    white-space: pre;
    font-size: 5.6px;
    color: black;
}

#title1,
#title2 {
    font-family: monospace;
    white-space: pre;
    font-size: 18px;
    color: #880808;
}

.textbox {
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-y: scroll;
    background-color: white;
    width: 80%;
    height: 50vh;
    background-color: rgb(48, 47, 47);

}

.textboxWrapper {
    display: flex;
    justify-content: center;
    margin: 1%;
}

.hidden {
    display: none;
}

#consoleOutput p {
    margin: 0;
    padding: 1% 2%;
    font-weight: 500;
}

.asciiIntro {
    white-space: pre;
    font-family: monospace;
    font-size: 14px;
}

.start {
    display: flex;
    justify-content: center;
}

button {
    width: 10%;
    height: 80px;
    font-size: 60px;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
    border-color: #880808;
    background-color: rgb(184, 165, 153);
    border-width: 5px;
}
button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:rgb(148, 132, 121);
}

@media only screen and (max-width:1640px) {

    #title1,
    #title2 {
        font-family: monospace;
        white-space: pre;
        font-size: 10px;
    }

}